{{!-- <h1 class="text-center">Menu</h1> --}}

<ul class="nav menu nav-center list-group list-group-horizontal list-group-flush mt-5">
    <a href="/admin/projects/approve-menu">
        <li class="list-group-item list-group-item-action">
            <div class="card card-min">
                <img src="/static/img/aprovar.png" alt="replace">
                <div class="card-body">
                    <h5 class="card-title text-center">Aprovar Projectos</h5>
                </div>
            </div>
        </li>
    </a>

    <a href="/admin/project/">
        <li class="list-group-item list-group-item-action">
            <div class="card card-min">
                <img src="/static/img/gerenciar.png"  class="card-img-top" alt="replace">
                <div class="card-body">
                    <h5 class="card-title text-center">Gerir Projectos</h5>
                </div>
            </div>
        </li>
    </a>
</ul>