<h1 class="text-center mt-3">Gestão de projectos</h1>

<style>
    .card-body {
        padding-top: 0px; 
    }
</style>

<ul class="nav menu nav-center list-group list-group-horizontal list-group-flush mt-3 px-5">
    <a href="/myprojects/add/">
        <li class="list-group-item list-group-item-action">
            <div class="card card-min">
                <img src="/static/img/adicionar.png" alt="replace">
                <div class="card-body">
                    <h5 class="card-title text-center">Adicionar Projecto</h5>
                </div>
            </div>
        </li>
    </a>

    <a href="/myprojects/edit/">
        <li class="list-group-item list-group-item-action">
            <div class="card card-min">
                <img src="/static/img/editar.png" alt="replace">
                <div class="card-body">
                    <h5 class="card-title text-center">Editar Informações</h5>
                </div>
            </div>
        </li>
    </a>

    <a href="/myprojects/delete/">
        <li class="list-group-item list-group-item-action">
            <div class="card card-min">
                <img src="/static/img/lixo.png" alt="replace">
                <div class="card-body">
                    <h5 class="card-title text-center">Eliminar Projecto</h5>
                </div>
            </div>
        </li>
    </a>

    <a href="/myprojects/list/">
        <li class="list-group-item list-group-item-action">
            <div class="card card-min">
                <img src="/static/img/ver.png" alt="replace">
                <div class="card-body">
                    <h5 class="card-title text-center">Ver Projectos</h5>
                </div>
            </div>
        </li>
    </a>

    <a href="/myprojects/history/">
        <li class="list-group-item list-group-item-action">
            <div class="card card-min">
                <img src="/static/img/historico.png" alt="replace">
                <div class="card-body">
                    <h5 class="card-title text-center">Historico de Financiamento</h5>
                </div>
            </div>
        </li>
    </a>
</ul>