<h1 class="text-center p-4 mb-3">Adicionar Cartão</h1>

<div class="mx-auto border border-2 p-3 " style="max-width: 500px">
    <form action="/card/add/" method="post">
        <div class="mb-3">
            <label class="form-label" for="cardNumber">Numero do Cartao</label><br>
            <input class="form-control" type="Number" name="cardNumber" id="cardNumber" min="0" required>
        </div>

        <div class="input-group mb-3">
                <label class="input-group-text" for="exp">Expires in:(MM/AAAA):</label><br>
                <input class="form-control" type="text" name="exp" id="exp" maxlength="7" pattern="\d\d/(\d{4})" required>
                <label class="input-group-text" for="cvc">CVC</label><br>
                <input class="form-control" type="text" name="cvc" id="cvc" maxlength="3" size="3" pattern="\d{3}" required>
        </div>

        <div class="mb-4">
            <label class="form-label" for="password">Palavra-Passe:</label><br>
            <input class="form-control" type="password" name="password" id="password" required>
        </div>
        <div class="text-end">
            <input class="btn btn-outline-primary" type="submit" value="Adicionar">
            <input class="btn btn-outline-primary" type="reset" value="Limpar Dados">
        </div> 
    </form>
</div>